:root {
  --ms-tag-bg: #f58c32;
  --ms-tag-color: #D1FAE5;
  --ms-tag-radius: 9999px;
  --ms-tag-font-weight: 400;
  --ms-caret-color: #f58c32;
  --ms-spinner-color: #f58c32;
  --ms-group-label-bg: transparent;
  --ms-dropdown-bg: #fff;
  --ms-dropdown-border-color: #fff;
  --ms-dropdown-border-width: 1px;
  --ms-dropdown-radius: 0px;
  --ms-dropdown-color: #fff;
  --ms-bg: transparent;
  --ms-group-label-bg: transparent;
  --ms-option-bg: transparent;
  --ms-option-color: #fff;
  --ms-group-label-bg: #f58c32;
}
